[Unit]
Description=ROS nodes
After=network-online.target
PartOf=ros.target

[Service]
Type=simple
ExecStart=/usr/bin/start-ros-nodes
KillSignal=SIGINT

[Install]
WantedBy=ros.target