[Unit]
Description=Micro-ROS agent
PartOf=ros.target

[Service]
Type=simple
ExecStart=/usr/lib/ros/uros-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=ros.target