[Unit]
Description=Remote desktop service (VNC)
After=network.target lightdm.service

[Service]
Type=simple
User=lightdm
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/var/run/lightdm/root/\:0"
ExecStart=/usr/bin/x0vncserver -fg -SecurityTypes=None -AlwaysShared -rfbport=5900 -localhost=0 --I-KNOW-THIS-IS-INSECURE
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
